@import url('base.css');
/* 头部开始 */
.header{
	/* width: 100%;
	height: 88px; */
	padding: 14px 0;
	background: #e26a90;
}
.header1{
	background: #e26a90;
}
.header .container{
	/* width: 1140px; */
	/* height: 88px; */
	padding: 0 15px;
	margin: 0 auto;
/* 	background: #ff0036; */
}
.header-top{
	/* width: 1140px; */
	height: 60px;
	/* background: yellow; */
	padding: 14px 0;
}
.header-top .logo{
	float: left;
}
.header-top .logo a{
	font-size: 36px;
	color: #fff;
	font-weight: 600;
	line-height: 60px;

}
.header-top .menu{
	line-height: 60px;
	float: right;
}
.header-top .menu li{
	display: inline-block;
}
.header-top .menu li a{
	font-size: 20px;
  	margin: 0 10px;
  	color: #fff;
  	line-height: 60px;
}
.header-top .menu li a:hover{
	transition: all ease 0.5s;
	color: #E2C454;
}
.header-top .menu li:last-child a{
	color: #E2C454;
}
/* 头部结束 */

/* 提交信息开始 */
.contact{
	padding: 4em 0;
}
.contact .map{
	width: 1140px;
	height: 700px;
	margin-top: 20px;
}
.contact img{
	display: block;
	width: 100%;
	height: 100%;
}
.contact-head{
	text-align:center;
}
.contact-head h3{
	font-size: 2em;
	color: #f95d8e;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	padding: 0.8em 0 0.4em 0;
}
.contact-form{
	width: 1140px;
	height: 538px;
	margin: 0 auto;
/* 	background: #333; */
}
.contact-form-row{
	margin-bottom:3em;
}
.contact-form-row div{
	width: 32.6%;
	float: left;
	margin-right: 1%;
}
.contact-form-row div span,.contact-form-row2  span{
	font-size:1.2em;
	color:#f95d8e;
	font-weight:700;
	text-transform:uppercase;
	display:block;
	padding:0 0 0.5em;
}
.contact-form-row div .text{
	width:90%;
	padding:1em;	
	border:1px solid #EEE;
	/* -webkit-appearance:none; */
	outline:none;
	color:#777;
	transition:border-color 0.4s;
}
.contact-form-row div .text:hover,.contact-form-row2 textarea:hover{
	color:#d4a258;
	border-color:#d4a258;
}
.contact-form-row div:nth-of-type(3){
	margin-right:0;
}
.contact-form-row2 textarea{
	width:97.5%;
	padding:1em;	
	font-family: 'Droid Sans', sans-serif;
	border:1px solid #EEE;
	/* -webkit-appearance:none; */
	outline:none;
	color:#777;
	min-height:320px;
	resize:none;
	transition:border-color 0.4s;
}
.contact-form-row2 {
	margin-top:1em;
}
.contact-form .sub{
	display: block;
	background: #f95d8e;
	padding: 0.7em 3em;
	font-size:1.2em;
	text-transform: uppercase;
	color: #FFF;
	font-weight: 400;
	display: inline-block;
	margin-top: 1em;
	text-decoration: none;
	border:none;
	outline:none;
	transition:0.5s all;
}
.contact-form .sub:hover{
	background: #ffb449;
}
/* 提交信息结束 */

/* footer开始 */
.di{
	background: #545050;
	text-align: center;
	padding: 70px 0;
}
.di .social1{
	display: block;
	/* height: 25px; */
	text-align: center;
}
.di .social1 a{
	display: inline-block;
	font-size: 18px;
	margin: 0 8px;
	color: #fff;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.di .social1 i{
	font-size: inherit;
	color: #fff;
	text-align: center;
	transition: all 0.4s;
}
.di p{
	margin-top: 10px;
	font-size: 13px;
	line-height: 20px;
	color: #888;
}
.di .social1 i:hover{
	color: #666666;
}
/* footer结束 */

/* 大于1200px */
@media screen and (min-width: 1200px){
	.header .container{
		width: 1140px;
	}
	.header{
		display: block;
	}
	.header1{
		display: none;
	}

}
/* 大于992px  小于1200px*/
@media screen and (min-width: 992px) and (max-width: 1200px){
	.header .container{
		width: 940px;
	}
	.header{
		display: block;
	}
	.header1{
		display: none;
	}
}
/* 大于768px  小于992px */
@media screen and (min-width: 768px) and (max-width: 992px){
	.header .container{
		width: 720px;
	}
	.header{
		display: block;
	}
	.header1{
		display: none;
	}
}
/* 小于768px */
@media screen and (max-width: 768px){
	.header .container{
		width: 375px;
	}
	.header1{
		display: block;
	}
	.header{
		display: none;
	}
}
